.gridjs {
  font-family: "Open Sans",Roboto, Calibri, system-ui,-apple-system,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;

  &-container {
    overflow: hidden;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
  }
}

