input.gridjs-input {
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 1.45;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
