@import "colors";

th.gridjs {
  &-th {
    border: 1px solid $gray3;
    padding: 14px 24px;
    user-select: none;
    box-sizing: content-box;
    white-space: nowrap;

    &-sort {
      cursor: pointer;
    }

    &-sort:hover {
      background-color: $gray3;
    }
  }

  &-th:first-child {
    border-left: none;
  }

  &-th:last-child {
    border-right: none;
  }
}
