@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html, body {
    font-size: 14px;
    font-family: "Open Sans",Roboto, Calibri, system-ui,-apple-system,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    background-color: #f4f5f7d1;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #313948;
}

div#container {
    text-align: center;
}
