name: 'coverage'
on:
    pull_request:
        branches:
            - master
            - main
jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: npm install
            - run: npm run install:plugins
            - uses: ArtiomTr/jest-coverage-report-action@v2
              id: coverage
              with:
                  output: report-markdown
                  test-script: npm run test:jest
            - uses: marocchino/sticky-pull-request-comment@v2
              with:
                  message: ${{ steps.coverage.outputs.report }}
